.topbarMenu li small {
  text-transform: uppercase;
}
.right_border li {
  position: relative;
  padding-right: 10px;
  margin-right: 5px;
}

.right_border li::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0.5px;
  height: 50%;
  background-color: #666;
}

.right_border li:last-child::after {
  display: none;
}
/* Add this to your existing CSS or create a new CSS file */

/* Dropdown menu */
.dropdown-content {
  z-index: 10; /* Ensure dropdown is on top of other content */
}

.hover-trigger {
  transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

.hover-trigger:hover + .dropdown-content {
  opacity: 1;
  top: calc(100% + 5px);
  visibility: visible;
}

/* Hover effect for dropdown items */
.dropdown-content ul li:hover {
  background-color: #f3f4f6; /* Adjust the background color on hover */
}

/* Style links in dropdown */
.dropdown-content ul li a {
  color: #333;
  text-decoration: none;
}

.dropdown-content ul li a:hover {
  color: #000;
}
